* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #111111;
  color: white;
}

.grid-container {
  display: flex;
  flex-direction: row wrap;
  /* grid-template-columns: 100%; */
  grid-gap: none;
  /* padding: ; */
  height: 100%;
}

.grid-container > * {
  flex: 1 100%;
}

.grid-container div {
  background-color: #111111;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  opacity: 0.5;
}

.btn:hover {
  background-color: RoyalBlue;
  opacity: 1;
}
ol,
ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 90%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: purple;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

.time {
  float: left;
  font-size: medium;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.5;
  font-weight: lighter;
  min-width: 263.83px;
}

#countdown {
  font-size: 98%;
}

.voice {
  display: block;
  max-height: 140px;
  padding: 0;
}

#botText {
  font-size: x-large;
}

.popUp-effect {
  animation: fadeInAndScale 0.6s cubic-bezier(0, 1.07, 0.72, 1.42);
  transform-origin: center bottom;
}

@keyframes fadeInAndScale {
  from {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

#fadeout {
  opacity: 1;
  transition: 1s opacity;
  text-align: center;
}

.news {
  overflow: hidden;
  clear: left;
  float: right;
}

td:not(.title) {
  height: 160px;
  vertical-align: top;
  text-align: center;
}

.title {
  background-color: grey;
  color: #ffffff;
  font-weight: bold;
}

.sub-title {
  height: fit-content;
  font-size: xx-large;
}

::-webkit-scrollbar {
  width: 0;
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside {
    flex: 1 auto;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main {
    flex: 2 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.aside-1 {
  flex: 0 0 24vw;
}

.aside-2 {
  flex: 0 0 23vw;
}

.weather {
  box-shadow: 0 5px 10px black;
  padding: 50px;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 50px;
  background-color: black;
}

.container2 {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: max-content max-content max-content max-content;
  justify-items: stretch;
}

.info-weather {
  font-size: 0.5em;
}
